body {
    padding-top: var(--body-gap);
}
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: var(--width-main);
    border-radius: var(--border-radius-24);
    padding: var(--padding-50) 20px;
    background-color: var(--bg-blue-25);
}
.hero .text-section {
    display: flex;
    flex-direction: column;
    gap: var(--gap-36);
    align-items: center;
    text-align: center;
}

.activities {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: var(--gap-30);
    width: 100%;
    max-width: var(--width-main);
}

.activities h1 {
    font-size: var(--font-size-38);
}

.card {
    background-color: var(--bg-secondary) !important;
}

.activity-roads {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: var(--gap-12);
    width: 100%;
}
.activity-roads h2 {
    font-size: var(--font-size-16);
}
.activity-roads div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    gap: var(--gap-12);
    align-items: center;
}
.activity-roads div span {
    font-size: var(--font-size-14);
    font-weight: 500;
    padding: 6px 12px;
    border-radius: 50px;
    background-color: var(--bg-third);
    border: 1px solid var(--border-half-primary);
    cursor: pointer;
}

.activities button {
    background-color: var(--bg-third);
}

.activities .card-section {
    align-items: start;
}
@media (max-width: 1000px) {
    body {
        margin-top: 20px;
    }
}
@media (max-width: 510px) {
    .hero {
        border-radius: 16px;
    }
}